/* Font source: https://www.1001fonts.com/zud-juice-font.html#license */
/* Thank you, https://www.w3schools.com/Css/css3_fonts.asp */
@font-face {
  font-family: zudJuice;
  src: url(zud-juice/zudj.TTF);
}

* {
  /* font-family: zudJuice; */
}


#popup {
  margin: 10px;
  display: block;
  font-size: 14px;
  width: 300px;
  /* font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif; */

  /* white-space: nowrap; */
  /* background-color: blanchedAlmond; */
}

/* Thank you, https://www.w3schools.com/cssref/css3_pr_filter.asp */
#onOffSwitch:hover {
  filter: grayscale(40%);
  cursor: pointer;
}

h1 {
font-size: 14px;
}

p {
font-size: 18px;
font-style: normal;
font-variant: normal;
  margin: 0px;
  padding: 5px;

}

hr {
  color: black;
}

#container {
align-items: center;
display: flex;
justify-content: space-between;
}

a:link {
  background-color: transparent;
  text-decoration: none;
  outline: none;
  color: brown;
}

a:visited {
  background-color: transparent;
  text-decoration: none;
  outline: none;
  color: brown;
}

a:hover {
  color: tan;
  background-color: transparent;
  outline: none;
  /*text-decoration: underline;*/
}

button {
  font-size: 13px;
}
